* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.wrapper {
    min-height: 100%;
}

h1 {
    margin-top: 15px;
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: 'Audiowide', cursive;
    background: linear-gradient(#FB1010, #FFF);
    background-clip: content-box;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: white;
    font-size: 32px;
    font-family: 'Poor Story', cursive;
    text-align: center;
    margin-bottom: 15px;
}

p {
    color: white;
    font-family: 'Poor Story', cursive;
    font-size: 18px;
}

button {
    width: 128px;
    height: 48px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #21c900;
    font-size: 28px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #e2e2e2bb;
    border: 3px solid #168600;
    border-radius: 15px;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: row;
    padding: 0 100px;
    margin-top: 20px;
}

.main-container div {
    flex: 1;
    padding: 0 50px;
}